body{


    background-image: url(img.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}


.par {
    margin: auto;
    margin-top: 90px;
    width: 300px;
    height: 300px;
    padding: 15px 15px 30px 15px;
    position: relative;
    display: table;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    border: 5px solid;
    margin-top: 90px;
    opacity: 0.9;

}

.fieldDiv {

    border-radius: 5px;
    margin: auto;
    width: 250px;
    height: 390px;
    display: inline-block;
    align-content: center;
    text-align: center;
    margin-left: 10px;
}

.img {
    border-radius: 25px;

    position: relative;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
}


button {

    width: 200px;
    padding: 8px 0;
    text-align: center;
    margin: 15px 23px 15px 23px;
    border-radius: 25px;
    font-weight: bold;
    border: 1px solid red;
    background: red;
    cursor: pointer;
    color: black;
    position: relative;
    overflow: hidden;
    font-size: large;
}


label {

    color: aliceblue;
    text-size-adjust: 10px;
    font-size: large;
    margin-right: 160px;
    
}

input {

    width: 90%;
    height: 17px;
}

span {

    text-align: left;
    color: aliceblue;
    font-size: large;
}







